@{
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-info">Brak danych do wyświetlenia</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Estates" asp-action="Index">Wróć do strony głównej</a>
        </div>
    </div>
}
