<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Brak uprawnień dostepu</h2>
        <p>Naciśnij przycisk poniżej by wrócić na stronę główną</p>
        <hr />
        <p>
            <a asp-controller="Estates" asp-action="Index" class="btn btn-outline-success ">Strona główna</a>
        </p>
    </div>
</div>