<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Rezerwacja została potwierdzona</h2>
        <p>Możeswz sprawdzić swoje rezerwacje na swoim profilu użytkownika </p>
        <br />
        <p>Dziękujemy!</p>
    </div>
</div>